.App {
  width: 100%;
  margin: auto;
}

.App-header {
  background-color: #2f3f99;
  height: 50px;
  padding: 20px;
  color: #ffffff;
}

.App-title {
  font-size: 2.4em;
  font-family: Helvetica;
}

.App-footer {
  background-color: #2f3f99;
  height: 50px;
  padding: 20px;
  color: #ffffff;
}
